<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Box</title>
</head>
<body>
    <div>
        <span class="box-decoration-slice bg-gradient-to-r from-indigo-500 to-pink-500 text-white">
            Hello<br>
            World
        </span>
        <br>
        <span class="box-decoration-clone bg-gradient-to-r from-indigo-500 to-pink-500 text-white">
            Hello<br>
            World
        </span>
    </div>
    <div class="box-content h-32 w-32 p-4 border-4 bg-red-500">

    </div>
</body>
</html>