<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Object</title>
</head>
<body>
    <div class="h-full">
        <div class="flex justify-center items-center bg-indigo-300">
            <img class="object-scale-down h-48 w-96" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKw5JRBqrwiDIDd3ZUlG-Q6vqVLBTdOh6w-A&s" />
        </div>
    </div>
</body>
</html>